# Dependencies
node_modules/
**/node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
**/.env
server/.env

# Build outputs
dist/
build/
client/dist/

# Logs & temp files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store